<div class="container">    
    <div class="row col s12">

      <div class="col s4 m4 l4 white">
        
        
        <img src="https://www.yellowvase.com/wp-content/uploads/2012/12/Yellow-Vase-Cakes-15-400x400.jpg">
        <p class="center">Flower cake</p>
        <br class="center"> $5.95 </br>
      </div>
      
      <div class="col s4 m4 l4 white">
        
        
        <img src="https://chiaraspastry.com/wp-content/uploads/2018/04/chiaraspastry.com-Midnight-Madness-Cakes-400x400.jpg"> 
        <p class="center">Chocolate cake</p> 
        <br class="center"> $5.95 </br>
      </div>
      
      <div class="col s4 m4 l4 white">
         
        
        <img src="https://leitesculinaria.com/wp-content/uploads/fly-images/101881/sour-cream-mocha-cake-recipe-fp-400x400-c.jpg">
        <p class="center">Pumpkin cake</p>  
        <br class="center"> $5.95 </br>
      </div>
    </div>
</div>
 