 <p> </p> 
<div class="container">
    <div class="row white">
        <form class ="black-text" action="/contact" method="POST" id="">
            Your Email:<input type ="text" name="email">
            <p>Comment:</p>
            <textarea name="comment" form="electionform"> </textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>