 <div class="container">
    <div class="row white">

      <div class="col s4 m4 l4">
        
        <p>Cookies with chocolate</p>
        <img src="https://www.jocooks.com/wp-content/uploads/2011/06/best-ever-chocolate-chip-cookies-1-400x400.jpg">
        
        <p> Chocolate chip cookies</p>
        <br> $5.95 </br>
        <button id="cookiebutton1">Add to list</button>
      </div>
      
      <div class="col s4 m4 l4"">
        
        <p>Cookies with M&M chocolate candy</p>
        <img src="https://life-in-the-lofthouse.com/wp-content/uploads/2018/04/MM-Cookies-2-400x400.jpg"> 
        
        <p>M&M cookies</p> 
        <br> $5.95 </br>
        <button id="cookiebutton2">Add to list</button>
      </div>
      
      <div class="col s4 m4 l4"">
        
        <p>Cookies with oatmeal</p>
        <img src="https://leitesculinaria.com/wp-content/uploads/fly-images/104137/oatmeal-cookies-recipe-fp-400x400-c.jpg">
        <p>Oatmeal cookies</p>  
        <br> $5.95 </br>
        <button id="cookiebutton3">Add to list</button> 
      </div>

    </div>
</div>

