<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="mynav row white">

            <a class="col s3" href="/">
                <pre class="brown-text">The Bakery World</pre><img src="https://d13genyhhfmqry.cloudfront.net/widget/mp_10763_2016-12-01-11-08-31-000982.jpg"></a>

            <ul class="row col s8">
                <li><a class=" brown-text" href="/">Home</a></li>
                <li><a class="brown-text" href="/contact">Contact</a></li>
                <li><a class=" brown-text" href="/cookies">Cookies</a></li>
                <li><a class=" brown-text" href="/muffins">Muffins</a></li>
                <li><a class=" brown-text" href="/cakes">Cakes</a></li>
                <li><a class=" brown-text" href="/catalog">Catalog</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row white">

            <div class="col s4 m4 l4">

                <p>Muffins made with blueberry</p>
                <img src="https://www.mybakingaddiction.com/wp-content/uploads/2012/05/Blueberry-Doughnut-Muffins-Image-400x400.jpg">
                <p> Blueberry Muffins</p>
                <br> $5.95 </br>
                <button id="muffinbutton1">Add to list</button>
            </div>

            <div class="col s4 m4 l4">

                <p>Muffins that are made with...</p>
                <img src="https://whattocooktoday.com/wp-content/uploads/2016/07/IMG_7188-400x400.jpg">
                <p> Special Muffins</p>
                <br> $5.95 </br>
                <button id="muffinbutton1">Add to list</button>
            </div>

            <div class="col s4 m4 l4">

                <p>Muffins made with Banana and Pumpkin</p>
                <img src="https://www.simplyleb.com/wp-content/uploads/2017/10/Banana-Oatmeal-Muffins-9-400x400.jpg">
                <p>Banana Pumpkin Muffins</p>
                <br> $5.95 </br>
                <button id="muffinbutton1">Add to list</button>
            </div>

            <div class="row white">

                <div class="col s4 m4 l4">

                    <p>Cookies with chocolate</p>
                    <img src="https://www.jocooks.com/wp-content/uploads/2011/06/best-ever-chocolate-chip-cookies-1-400x400.jpg">

                    <p> Chocolate chip cookies</p>
                    <br> $5.95 </br>
                    <button id="cookiebutton1">Add to list</button>
                </div>

                <div class="col s4 m4 l4"">
        
        <p>Cookies with M&M chocolate candy</p>
        <img src="
                    https://life-in-the-lofthouse.com/wp-content/uploads/2018/04/MM-Cookies-2-400x400.jpg"> <p>M&M
                    cookies</p>
                    <br> $5.95 </br>
                    <button id="cookiebutton2">Add to list</button>
                </div>

                <div class="col s4 m4 l4"">
        
        <p>Cookies with oatmeal</p>
        <img src=" https://leitesculinaria.com/wp-content/uploads/fly-images/104137/oatmeal-cookies-recipe-fp-400x400-c.jpg">
                    <p>Oatmeal cookies</p>
                    <br> $5.95 </br>
                    <button id="cookiebutton3">Add to list</button>
                </div>

            </div>

            <div class="row col s12">

                <div class="col s4 m4 l4 white">

                    <p> Cake made with cream</p>
                    <img src="https://www.yellowvase.com/wp-content/uploads/2012/12/Yellow-Vase-Cakes-15-400x400.jpg">
                    <p class="center">Flower cake</p>
                    <br class="center"> $5.95 </br>
                    <button id="cakebutton1">Add to list</button>
                </div>

                <div class="col s4 m4 l4 white">

                    <p>Cake filled with chocolate </p>
                    <img src="https://chiaraspastry.com/wp-content/uploads/2018/04/chiaraspastry.com-Midnight-Madness-Cakes-400x400.jpg">
                    <p class="center">Chocolate cake</p>
                    <br class="center"> $5.95 </br>
                    <button id="cakebutton1">Add to list</button>
                </div>

                <div class="col s4 m4 l4 white">

                    <p> Cake made with pumpkin</p>
                    <img src="https://leitesculinaria.com/wp-content/uploads/fly-images/101881/sour-cream-mocha-cake-recipe-fp-400x400-c.jpg">
                    <p class="center">Pumpkin cake</p>
                    <br class="center"> $5.95 </br>
                    <button id="cakebutton1">Add to list</button>
                </div>
            </div>
            <p> </p>
            <div class="container">
                <div class="row white">
                    <form class="black-text" action="/contact" method="POST" id="">
                        Your Email:<input type="text" name="email">
                        <p>Comment:</p>
                        <textarea name="comment" form="electionform"> </textarea>
                        <input type="submit" value="SEND ME THE CATALOG">
                    </form>
                </div>
            </div>

        </div>
    </div>

















    <div class="container">
        <div class="row">
            <footer class="page-footer white ">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="black-text">Footer Content</h5>
                            <p class="brown lighten-3 text-black ">You can use rows and columns here to organize your
                                footer content.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                            <h5 class="black-text">Links</h5>
                            <ul>
                                <li><a class="black-text text-lighten-3" href="#!">Link 1</a></li>
                                <li><a class="black-text text-lighten-3" href="#!">Link 2</a></li>
                                <li><a class="black-text text-lighten-3" href="#!">Link 3</a></li>
                                <li><a class="black-text text-lighten-3" href="#!">Link 4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        © 2014 Copyright Text
                        <a class="black-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>






</body>

</html>