  <div class="container">
   <section class="row brown lighten-3">
      <pre class="col s6">
        Rich and warmingly sweet dough
            spiced with cinnamon
           wisps of nutmeg, buttery
            rolls baked gold-and-brown
                Icing sugar made
                    now drizzle
                        Yes!
                
                 -By Lyn-Purcell
      </pre>
      <img class="col s4" src="https://s24597.pcdn.co/wp-content/uploads/2016/12/Cranberry-orange-muffins-G-400x200.jpg">
    
   </section>
    <br> </br>
   
    <section class="row centerpics brown lighten-3">

      <div class="col s4 brown lighten-3">
        <img src="https://i.pinimg.com/736x/54/a4/c3/54a4c3ba05909261e14dffcc29617214--elvis-cupcakes-banana-cupcakes.jpg">
      </div>
      
      <div class="col s4 brown lighten-3">
         <img src="https://goodmorningflorist.com/media/catalog/product/cache/1/small_image/300x250/9df78eab33525d08d6e5fb8d27136e95/1/_/1_kg_chocolate_cake-goodmorningflorist.jpg"> 
         <img src="https://cdn.thisiswhyimbroke.com/images/homemade-chocolate-chip-cookies-300x250.jpg"> 
      </div>
      
      <div class="col s4 brown lighten-3">
        <div>
            <h5>Great cakes</h5>
            <p> spiced with cinnamon wisps of nutmeg, buttery rolls baked gold-and-brown Icing sugar made now drizzle Yes!</P>
            <p> spiced with cinnamon wisps of nutmeg, buttery rolls baked gold-and-brown Icing sugar made now drizzle Yes!</p>
            <p> spiced with cinnamon wisps of nutmeg, buttery rolls baked gold-and-brown Icing sugar made now drizzle Yes!</p>
            <p> spiced with cinnamon wisps of nutmeg, buttery rolls baked gold-and-brown Icing sugar made now drizzle Yes!</p>
         
         </div>
      </div>

    </section>
  </div>

    
