<div class="container">
    <div class="row white">

      <div class="col s4 m4 l4">
        
        <p>Muffins made with blueberry</p>
        <img src="https://www.mybakingaddiction.com/wp-content/uploads/2012/05/Blueberry-Doughnut-Muffins-Image-400x400.jpg">
        <p> Blueberry Muffins</p>  
        <br> $5.95 </br>
        <button id="muffinbutton1">Add to list</button>
      </div>
      
      <div class="col s4 m4 l4">
        
        <p>Muffins that are made with...</p>
        <img src="https://whattocooktoday.com/wp-content/uploads/2016/07/IMG_7188-400x400.jpg"> 
        <p> Special Muffins</p> 
        <br> $5.95 </br>
        <button id="muffinbutton1">Add to list</button>
      </div>
      
      <div class="col s4 m4 l4">
        
        <p>Muffins made with Banana and Pumpkin</p>
        <img src="https://www.simplyleb.com/wp-content/uploads/2017/10/Banana-Oatmeal-Muffins-9-400x400.jpg">
        <p>Banana Pumpkin Muffins</p>   
        <br> $5.95 </br>
        <button id="muffinbutton1">Add to list</button>
      </div>

    </div>
</div>
 